accelerate==0.33.0 
transformers==4.37.2 
timm==0.6.13 
sentencepiece==0.1.99 
peft==0.4.0 
#bitsandbytes==0.41.0
einops-exts==0.0.4 
einops==0.6.1 
shortuuid 
openpyxl 
deepspeed==0.14.4
scipy 
packaging 
ninja 
datasets 
protobuf==3.20.1
wandb==0.15.11
opencv-python-headless